@model IEnumerable<class01.Models.ModelData.ClientViewModel>

@{
    ViewData["Title"] = "Clients Lists";
    int cont = 0;
}


<h1 style="color:blueviolet">@ViewData["Title"]</h1>

<p>
    <button><a asp-action="Create">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cellphone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    cont++;
        <tr>
            <td>@cont</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<!-- chamado de Partial View -->
<partial name="_messagesPartial" />
